
/*
// ------------------------
// -> Scroll bar inizio
// ------------------------
*/

::-webkit-scrollbar{
    width: 5px;
    position: absolute;
    left: auto;
    background-color: black;

}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(251, 6, 6);
    border-radius: 50%;
    border-style: inset;
    border-color: black;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/*
// ------------------------
// -> Scroll bar fine
// ------------------------
*/


/*
// ------------------------
// -> Corpo Inizio
// ------------------------
*/
body{
    background-color: black;

}

/*
// ------------------------
// -> Corpo Fine
// ------------------------
*/

/*
// ------------------------
// -> Titoli Inizio
// ------------------------
*/

.name_bg{
    background-color: black;
    color:white;
    animation: title_bgg 4s alternate-reverse infinite ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.name{
    font-size: 70px;

}

.animations{
    animation: title_bgg 4s alternate-reverse infinite ;
}
.titles{
    font-size: 70px;
    height: 10%;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*
// ------------------------
// -> Titoli Fine
// ------------------------
*/


.content{
    height: 90%;
    width: 90%;

}
.content .content-image{
    border-color: white;
    height: 65%;
    width: 100%;
    position: absolute;


}

footer{
    position:fixed;
    bottom:0;
    text-align: center;
}
#profileImg{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;         
}
#profile-image{
    width: 200px;
    height: 200px;
   /* border-radius: 50%; */
}
.caption-img{
    color: white;
    margin-top: -10%;
    font-size: 30px;
    text-align: center;
    font-family: 'Pixies';
 
}
#MLImg{
    margin-top: 5%;
    width: auto;
    height: auto;
    
}
.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%;
}

 
canvas{
    width: 1910px;
    height: 630px;
    position: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    /* border: 1px solid white; */
}

@keyframes title_bgg {
0%{
    background-color: white;
    color: black;
}
1%{
    background-color: rgb(0, 255, 255);
    color: black;
}
2%{
    background-color: rgb(8, 246, 246);
    color: black;
}
}
 
#AboutCard{
    font-family: 'Pixies';
    color: white;
    text-align: center;
    font-size: 90px;

  }
#skilledIN{
    font-size:75px;
}
#currentlyLearning{
    font-size:70px;
}
#frontendLI{
    font-size:60px;
}
#backendLI{
    font-size:60px;
}
#currentlyLI{
    font-size:60px;
}
 
  .emojis{
    font-family: 'Pixies';
    animation: pulsate 0.5s ease-in-out infinite alternate;
  }


  @keyframes pulsate {
    100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(255, 0, 43),
        0 0 80px rgb(156, 4, 42),
        0 0 90px #f09,
        0 0 100px rgb(0, 212, 71),
        0 0 150px rgb(0, 17, 95);
    }
   0% {
      text-shadow:
        0 0 4px rgb(207, 28, 28),
        0 0 10px #fff,
        0 0 18px #fff,
        0 0 38px rgb(20, 6, 139),
        0 0 73px rgb(53, 6, 139),
        0 0 80px rgb(0, 255, 42),
        0 0 94px rgb(29, 23, 27),
        0 0 140px rgb(216, 11, 11);
    }
  }


/*
// ------------------------
// -> Sistemazione per rendere responsive la pagina Inizio
// ------------------------
*/


/*
 ---/ Responsive thang
*/
@media (min-width:360px)  and (max-width:375px)  {
    img {
        width: 380px;
        height: 300px;
         
    }
    #MLImg{
        width: 380px;
        height: 300px;
    }
    .caption-img{
        color: white;
        margin-top: -10%;
        font-size: 16px;
        text-align: center;
     
    }
    canvas{
        width: 380px;
        height: 300px;
        position: center;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
     }
     #AboutCard{
        font-family: 'Pixies';
        color: white;
        text-align: center;
        font-size: 18px;  
      }
    #skilledIN{
        font-size:17x;
    }
    #currentlyLearning{
        font-size:17px;
    }
    #frontendLI{
        font-size:15px;
    }
    #backendLI{
        font-size:15px;
    }
    #currentlyLI{
        font-size:15px;
    }
}
@media (min-width:375px)  and (max-width:390px)  {
    img {
        width: 370px;
        height: 300px;
       
    }
    #MLImg{
        width: 370px;
        height: 300px;
    }
    .caption-img{
        color: white;
        margin-top: -10%;
        font-size: 16px;
        text-align: center;
     
    }
    canvas{
        width: 370px;
        height: 300px;
        position: center;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
     }

     #AboutCard{
        font-family: 'Pixies';
        color: white;
        text-align: center;
        font-size: 18px;  
      }
      #skilledIN{
        font-size:17x;
    }
    #currentlyLearning{
        font-size:17px;
    }
    #frontendLI{
        font-size:15px;
    }
    #backendLI{
        font-size:15px;
    }
    #currentlyLI{
        font-size:15px;
    }


}


@media ( min-width:391px) and (max-width:414px) {
    img {
        width: 428px;
        height: 300px;
        
    }
    #MLImg{
        width: 428px;
        height: 300px;
    }
    .caption-img{
        color: white;
        margin-top: -10%;
        font-size: 16px;
        text-align: center;
     
    }
    canvas{
        width: 428px;
        height: 300px;
        position: center;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
     }
     #AboutCard{
        font-family: 'Pixies';
        color: white;
        text-align: center;
        font-size: 18px;  
      }

      #skilledIN{
        font-size:17x;
    }
    #currentlyLearning{
        font-size:15px;
    }
    #frontendLI{
        font-size:15px;
    }
    #backendLI{
        font-size:15px;
    }
    #currentlyLI{
        font-size:15px;
    }

}
@media (width:1536px) {
    img {
        width: 1536px;
        height: 573px;
         
    }
    #MLImg{
        width: 1536px;
        height: 573px;
    }
    .caption-img{
        color: white;
        margin-top: -10%;
        font-size: 16px;
        text-align: center;
     
    }
    canvas{
        width: 1536px;
        height: 573px;
        position: center;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
     }
     #AboutCard{
        font-family: 'Pixies';
        color: white;
        text-align: center;
        font-size: 90px;  
      }

      #skilledIN{
        font-size:70x;
    }
    #currentlyLearning{
        font-size:70px;
    }

    #frontendLI{
        font-size:60px;
    }
    #backendLI{
        font-size:60px;
    }
    #currentlyLI{
        font-size:60px;
    }

}
@media ( width:1920px) {
    img {
        width: 900px;
        height: 573px;
         
    }
    #MLImg{
        width: 1920px;
        height: 573px;
    }
    .caption-img{
        color: white;
        margin-top: -10%;
        font-size: 31px;
        text-align: center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif    ;
    }
    canvas{
        width: 1910px;
        height: 573px;
        position: center;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
     }
     #AboutCard{
        font-family: 'Pixies';
        color: white;
        text-align: center;
        font-size: 90px;  
      }
      #skilledIN{
        font-size:70x;
    }
    #currentlyLearning{
        font-size:70px;
    }

    #frontendLI{
        font-size:60px;
    }
    #backendLI{
        font-size:60px;
    }
    #currentlyLI{
        font-size:60px;
    }

}

/*
// ------------------------ 
// -> Sistemazione per rendere responsive la pagina Fine
// ------------------------
*/